.row
	make-row()
	margin 0 auto
	max-width $sitewidth //medida de la caja fija del diseño general
	padding-left 10px
	padding-right @padding-left

testHola
	bacground-color #fff
	display block
	position absolute
	



for key, i in keys(grid-breakpoints
    value = values(grid-breakpoints)[i]
    media = 'screen and ' + value

    @media media
        for i in 1..grid-columns
            beginning + key   -'  convertNumberToWord(i)
                @extends {beginning}column
                width: calcColumnWidth(i)
                *width: calcColumnWidth(i, grid-old-ie-delta)