.row
	make-row()
	margin 0 auto
	max-width $sitewidth //medida de la caja fija del diseño general
	padding-left 10px
	padding-right @padding-left

.test-jola
	bacground-color #fff
	display block
	position absolute
